.custom-thead {
  --bs-table-color-state: white;
  text-align: center;
  height: 50px;
  font-size: larger;
}

.custom-theader {
  background-image: linear-gradient(rgba(90, 132, 192, 1), rgba(89, 78, 210, 1));
  vertical-align: middle;
}

.custom-theader-left {
  border-radius: 10px 0 0 0
}

.custom-theader-right {
  border-radius: 0 10px 0 0
}


@media (max-width: 570px) {
  .custom-thead {
    font-size: medium;
  }

  .form-control {
    width: 100% !important;
    margin-bottom: 15px;
  }
}